<br><br>

	<!-- <div class="container"> -->

	<%= form_tag(("/reviews"), :class=>"form-horizontal") do %>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label col-sm-offset-2">License Plate</label>
			<div class="col-sm-1">
				<%= select_tag :plate_state, 
						options_for_select(["AL", "AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY","DC","Other"]), :class=>"form-control" %>
			</div>
			<div class="col-sm-2">
				<%= text_field_tag :plate_number, nil, :class=>"form-control", :placeholder=>"License Plate Number" %>
			</div>
		</div>
		<div class="form-group">
			
				<!-- geolocation button -->
				<label class="col-sm-2 control-label col-sm-offset-2">Geoocation</label>
				<div class="col-md-3">
					<%= text_field_tag :address, nil, :class=>"form-control", :id=>"city", :placeholder=>"address" %>
				</div>
				<div class="col-md-1">
					<%= text_field_tag :latitude, nil, :class=>"form-control", :id=>"latitude", :placeholder=>"lat" %>
				</div>
				<div class="col-md-1">
					<%= text_field_tag :longitude, nil, :class=>"form-control", :id=>"longitude", :placeholder=>"lng" %>
				</div>
			
		</div>
				<!-- <input type="button" value="Include Location" onclick="showlocation()"/>  -->

				<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
				<div id="test"></div>
				
				<!-- Latitude: <span id="latitude">..</span><br>
				Longitude: <span id="longitude">..</span> -->

				<SCRIPT>
				window.onload = function (){
					navigator.geolocation.watchPosition(callback);
					console.log("showlocation is firing");
				}
				function callback(position){
					console.log("callback is firing")
					var lat = position.coords.latitude;
					var lng = position.coords.longitude;
					document.getElementById('latitude').value=lat;
					document.getElementById('longitude').value=lng;

					function initMap (){ 
						geocoder = new google.maps.Geocoder();
					}
					initMap();

					var latlng = new google.maps.LatLng(lat,lng);
					geocoder.geocode({
				        'latLng': latlng
				    }, function(results, status) {

				        document.getElementById("city").value = '' + (results[0].formatted_address); + ''
				    });
				}
				</SCRIPT>
				

		
		<br><br>

		

			<div class="col-sm-offset-3 col-sm-2">
				<div>
					<label>Aggressive</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_speeding %> Speeding
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_weaving %> Weaving
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_tailgating %> Tailgating
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_cutting %> Cutting
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_light %> Running a Light
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_rage %> Road Rage
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :agg_other %> Other Aggressive
					</label>
				</div>
			</div>
			

			<div class="col-sm-2">
				<div>
					<label>Inattentive</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_braking %> Braking
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_drifting %> Drifting
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_intersection %> Intersection Blocking
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_pedestrian %> Pedestrian Encounter
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_phone %> On the Phone
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_drunk %> Drunk
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ina_other %> Other Inattentive
					</label>
				</div>
			</div>

			<div class="col-sm-2">
				<div>
					<label>Careful</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ale_safe %> Safe
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :ale_courteous %> Courteous
					</label>
				</div>
				<br><br>
				<div>
					<label>Parking</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :park_blocking %> Blocking
					</label>
				</div>
				<div class="checkbox">
					<label>
						<%= check_box_tag :park_illegal %> Illegal
					</label>
				</div>
			</div>

		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-4">
				<br><br>
				<%= submit_tag "Rate the Plate" , :class=>"btn btn-success"%>
			</div>
		</div>

		<!-- </div>	 -->

	<% end %>






